
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    display: flex;
    background-color: rgb(65, 26, 26);
    margin-top: 15px;
    border-radius: 20px;
    width: 1350px;
    height: 170px;
}

.num {
    display: inline-flex;
    width: 120px;
    height: 150px;
    background-color: rgb(110, 19, 19);
    justify-content: center;
    margin: auto;
    border-radius: 10%;
    color: white;
    font-size: 100px;
}

.clock {
    display: inline-flex;
    width: 150px;
    height: 150px;
    background-color: rgb(110, 19, 19);
    justify-content: center;
    margin: auto;
    border-radius: 10%;
    font-size: 100px;
}

